/* INCLUDE  */

.gg_font1 {
    font-family: "Roboto Mono", monospace;
}
.gg_font2 {
    
  font-family: "Noto Sans", sans-serif;
}
.gg_font3{
    font-family: "Libre Baskerville", serif;
}



/* END INCLUDE  */


.header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo header luôn trên các thành phần khác */
    background-color: white; /* Đặt màu nền */
    height: 80px; /* Điều chỉnh chiều cao phù hợp */
}



/* Show dropdown on hover */
.btn-group:hover .dropdown-menu {
    display: block;
    z-index: 1000; /* Đảm bảo không bị che */
}

.coolumn{
    display: flex;
}

.hr{
    margin: 0px;
    height: 20px;

}
.dropdown-menu {
    display: none; /* Ẩn ban đầu */
    position: fixed; /* Cố định vị trí so với phần tử cha */
    top: 100%; /* Xuất hiện ngay bên dưới nút */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translateX(-50%); /* Đẩy dropdown về giữa */
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    padding: 10px;
    min-width: 300px; /* Chiều rộng tối thiểu của dropdown */
    z-index: 1000;
}




/* Hiển thị dropdown khi hover vào .btn-group hoặc dropdown-menu */
.btn-group:hover .dropdown-menu,
.btn-group .dropdown-menu:hover {
    display: block; /* Dropdown luôn hiển thị khi hover */
}

/* Đảm bảo dropdown không bị ẩn khi hover vào */
.btn-group:hover .dropdown-menu:hover {
    display: block;
}

/* Căn giữa cho tất cả các nút trong dropdown */
.dropdown-menu .dropdown-item {
    text-align: center; /* Căn giữa nội dung */
    width: 100%; /* Đảm bảo nút chiếm toàn bộ chiều rộng của dropdown */
}


/* Hiệu ứng hover cho item */
.dropdown-item:hover {
    background-color: rgb(227, 169, 169);
    border-radius: 20px;
}

/* Đặt vị trí tương đối cho btn-group */
.btn-group {
    position: relative;
}


.dropdown-menu {
  min-width: 1600px; /* Điều chỉnh kích thước dropdown */
  font-size: 16px;  /* Điều chỉnh kích thước chữ */
}




















.btn-group button{
    color: black;
    border: none;
    background-color: white;
}
.btn-group span {
    font-size: 20px;
    font-weight: 500;
}

.btn-group span i {
    color: red;
}


.general{
    margin: 15px 0;
}
.general_right a {
text-decoration: none;
color: black;
font-size: 20px;
font-weight: 500;
transition: all 0.3s;
}
.general_right button i {
    font-size: 21px;
    transition: all 0.3s;
}
.general_right button i:hover {
    color: red !important;
}
.general_right a:first-child:hover {
    color: red;
}


.general_right a i{
    transition: all 0.3s;
}
.general_right a i:hover{
    color: red;
}

/* HEADER */

.header_top{
    color: white;
    padding: 6px 0;
    font-size: 15px;
}

.btn-group{
    padding:  0 5px;
}


/* END HEADER  */


/* CAROUSEL */
.banner{
    margin-top: 40px;
}
.banner_carousel{
    border-radius: 20px;
}
/* END CAROUSEL  */


/* PROMISE  */
.promise{
 margin: 50px 0 0  ;
}
.promise_item {
    display: flex;
    justify-content: space-around;
}
.promise_content{
    font-weight: 500;
    font-size: 18px;
}
/* END PROMISE  */

/* BRAND  */

.img_detail ul li {
    list-style: none;
}
.img_detail ul li img {
 opacity: 0.5;
 transition: all 0.52;
}

.img_detail ul li img:hover {
    opacity: 1;
 }
.deal_title h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}

/* END BEAND  */


/* DEAL  */

.carousel_iten{
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    transition: all 0.6;
}

.carousel_iten:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.carousel-control-prev-icon {
    background-color: black;
    margin: 0 0 0 -146px;
    padding: 18px;
    border-radius: 20px;
}

.carousel-control-next-icon {
    background-color: black;
    margin: 0 0 0 146px;
    border-radius: 20px;
    padding: 18px;
}
.carousel-control-next-icon{
    background-size: 20px;
}
.carousel-control-prev-icon{
    background-size: 20px;
}

.carousel-indicators {
    background-color: white;
    margin: 0px 0 -50px 0;
}

.shadown1 {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.contact_icon i {

    font-size: 35px;
    transition: all 0.5s;
}

.contact_icon i:hover{
    color: red;
}